@import "../../app/general";

.container {
  display: flex;
}

.pointsController {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  // top: -56px;
  grid-gap: 20px;
}

.indicator {
  grid-column: 1/3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  color: #42567a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba($color: #42567a, $alpha: 0.5);

  &_reflect {
    transform: scaleX(-1);
  }

  &_disabled {
    opacity: 0.5;
  }

  @include _hover {
    cursor: pointer;
  }
}

.sliderController {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  gap: 10px;
}


.slidePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 0;
  background: #42567a;
  opacity: 0.4;

  @include _hover {
    cursor: pointer;
  }

  &_active {
    opacity: 1;
  }
}