@import "../../app/general";

.container {
  display: flex;
  position: absolute;
}

.date {
  white-space: pre;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -2%;
  margin-right: 33px;
}

.firstDate {
  color: #5d5fef;
}

.secondDate {
  color: #ef5da8;
}
