@import "../../app/general";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 530px;
  transition-duration: 0.5s;
  z-index: 2;
}

.block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointNumber {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  color: transparent;
  background-color: #42567a;
  border-radius: 50%;
  border: 1px solid rgba($color: #303e58, $alpha: 0.5);
  top: calc(50% - 3px);

  &_active {
    width: 56px;
    height: 56px;
    color: #42567a;
    background-color: #f4f5f9;
    border: 1px solid rgba($color: #303e58, $alpha: 0.5);
    top: calc(50% - 28px);
  }

  @include _hover {
    cursor: pointer;
    width: 56px;
    height: 56px;
    color: #42567a;
    background-color: #f4f5f9;
    border: 1px solid rgba($color: #303e58, $alpha: 0.5);
    top: calc(50% - 28px);
  }
}

.nameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pointName {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  white-space: pre;
  color: #42567a;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  left: 48px;

  &_active {
    width: auto;
    height: auto;
  }
}
