@import "../../app/general";

.slider {
  position: relative;
  top: -133px;
  margin: 56px auto;
}

.year {
  color: #3877ee;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.event {
  color: #42567a;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
